@model Colegio.Models.Grado
@{
    ViewData["Title"] = "Eliminar Grado";
}


<div class="row">
    <div class="offset-12">
        <div class="card">
            <div class="card-header bg-dark">
                <h2 class="text-center text-white"><strong>Eliminar Grado</strong></h2>
            </div>
            <div class="card-body">
                <form method="post" asp-action="Eliminar">
                    <input hidden asp-for="Id" />
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Nombre: </strong>@Html.DisplayFor(m => m.Nombre)</li>
                        <li class="list-group-item"><strong>Profesor: </strong>@Model.Profesor?.Nombre @Model.Profesor?.Apellido</li>
                        <li class="list-group-item form-group mt-2 d-flex justify-content-center">
                            <a class="btn btn-outline-dark btn-lg w-25 mx-2" asp-controller="Grado" asp-action="Index">
                                <i class="fa-solid fa-arrow-left"></i> Regresar
                            </a>
                            <button class="btn btn-outline-danger btn-lg w-25" type="button" data-bs-toggle="modal" data-bs-target="#EliminarModal">
                                <i class="fa-solid fa-trash"></i> Eliminar
                            </button>
                        </li>
                    </ul>
                    <div class="modal fade" id="EliminarModal" tabindex="-1" aria-labelledby="eliminarModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Eliminar Grado</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>¿Esta seguro que desea eliminar el grado?</p>
                                    <p>@Html.DisplayFor(m => m.Nombre)</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-dark btn-lg w-25 mx-2" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-outline-danger btn-lg w-25"><i class="fa-solid fa-trash"></i> Eliminar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>